<cz.vutbr.fit.dip.fiws.data.Settings>
  <proxyPort>55555</proxyPort>
  <testedWsPort>8080</testedWsPort>
  <proxyHost>localhost</proxyHost>
  <filePathList>
    <string>dbdata/6.xml</string>
    <string>dbdata/7.xml</string>
    <string>dbdata/8.xml</string>
    <string>dbdata/9.xml</string>
    <string>dbdata/10.xml</string>
    <string>dbdata/11.xml</string>
    <string>dbdata/12.xml</string>
    <string>dbdata/13.xml</string>
    <string>dbdata/14.xml</string>
    <string>dbdata/15.xml</string>
    <string>dbdata/16.xml</string>
    <string>dbdata/17.xml</string>
    <string>dbdata/18.xml</string>
    <string>dbdata/19.xml</string>
    <string>dbdata/20.xml</string>
    <string>dbdata/21.xml</string>
    <string>dbdata/22.xml</string>
    <string>dbdata/23.xml</string>
    <string>dbdata/24.xml</string>
    <string>dbdata/25.xml</string>
    <string>dbdata/26.xml</string>
    <string>dbdata/27.xml</string>
    <string>dbdata/28.xml</string>
    <string>dbdata/29.xml</string>
    <string>dbdata/30.xml</string>
    <string>dbdata/31.xml</string>
    <string>dbdata/32.xml</string>
    <string>dbdata/33.xml</string>
    <string>dbdata/34.xml</string>
    <string>dbdata/35.xml</string>
    <string>dbdata/36.xml</string>
    <string>dbdata/37.xml</string>
    <string>dbdata/38.xml</string>
    <string>dbdata/39.xml</string>
    <string>dbdata/40.xml</string>
    <string>dbdata/41.xml</string>
    <string>dbdata/42.xml</string>
    <string>dbdata/43.xml</string>
    <string>dbdata/44.xml</string>
    <string>dbdata/45.xml</string>
    <string>dbdata/48.xml</string>
    <string>dbdata/49.xml</string>
    <string>dbdata/50.xml</string>
  </filePathList>
</cz.vutbr.fit.dip.fiws.data.Settings>